<div class="jumbotron text-center">
	<h1>Tic Tac Toe</h1>

	<p>{{ vm.tagline }}</p>
</div>

<div class="tilerow" ng-repeat="(i, row) in vm.board">
	<div class="tile" ng-repeat="(j, tile) in row"  ng-click="vm.onCellClick(i, j, tile.value)">
		{{tile.value}}
	</div>
</div>

<div ng-if='vm.endGame'>
	<a href='' ng-click='vm.resetBoard()'>Play again?</a>
</div>

<div ng-controller="ChatController as chatCtrl">
	<ul id="messages">
      <!-- Prevent error due to duplicate messages by tracking each message via unique index -->
      <li data-ng-repeat="message in chatCtrl.messages track by $index">{{message}}</li>
    </ul>

    <!-- New Message  -->
    <form data-ng-submit="chatCtrl.sendMessage()">
      <input data-ng-model="chatCtrl.newMessage" autocomplete="off" />
      <button>Send</button>
    </form>
</div>
