@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 12px;
  font-family: 'Roboto', sans-serif;
  background: url('../images/chalkboard.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
form {
  background: #000;
  padding: 3px;
  margin: 0 auto;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
form button {
  width: 8%;
  background: gray;
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:100px;
  overflow-y:auto;
  position: fixed;
  bottom: 30px;
  width: 100%;
  font-size: 12px;
  background: white;
  border-top: 1px solid gray;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:black;
  text-align: center;
}
/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.tile {
height: 70px;
width: 70px;
background: rgba(255,255,255,0.6);
display: inline-block;
margin: 10px;
padding: 15px;
vertical-align: top;
font-family: 'Indie Flower', cursive;
font-size: 2.2em;
line-height: 1;
font-weight: bold;
}

.tilerow {
display: block;
clear: both;
text-align: center;
width: 100%;
}

.page-header {
    margin-top: 0;
    background: black;
    padding: 8px;
}
.page-header h1 {
    display: inline-block;
}
.page-header h1 a {
  color: white;
  text-decoration: none;
}
nav {
    float: right;
    padding-top: 30px;
}
.page-header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
.page-header nav a:hover{
  color: #ff471a;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.board {
  margin-top: 30px;
}
.end {
  text-align: center;
}
.end a {
  color: black;
  text-decoration: none;
}
