* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  background: #000;
  padding: 3px;
}
form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none; padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:150px;
  overflow-y:auto;
  position: fixed;
  bottom: 30px;
  width: 100%;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:black;
}
/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.tile {
height: 50px;
width: 50px;
background: cyan;
display: inline-block;
margin: 10px;
padding: 15px;
vertical-align: top;
}

.tilerow {
display: block;
clear: both;
text-align: center;
width: 100%;
}

.page-header {
    margin-top: 0;
    background: black;
    padding: 10px;
}
.page-header h1 {
    display: inline-block;
}
.page-header h1 a {
  color: white;
  text-decoration: none;
}
nav {
    float: right;
    padding-top: 30px;
}
.page-header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
.page-header nav a:hover{
  color: #ff471a;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.board {
  margin-top: 10%;
}
